ALTER TABLE security_company_key_works ADD COLUMN q4_focus_implementation TEXT COMMENT '四季度重点实施事项';
ALTER TABLE security_company_key_works ADD COLUMN q4_completion_results TEXT COMMENT '四季度完成结果';
ALTER TABLE security_company_key_works ADD COLUMN q4_score VARCHAR(10) COMMENT '四季度得分';
ALTER TABLE security_company_key_works ADD COLUMN total_score VARCHAR(10) COMMENT '总分';
