<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.device.maintenanceTable.mapper.DeviceFaultAnalysisMapper">
    <resultMap type="DeviceFaultAnalysis" id="DeviceFaultAnalysisResult">
        <result property="analysisId"    column="analysis_id"    />
        <result property="analysisName"    column="analysis_name"    />
        <result property="analysisRecordTime"    column="analysis_record_time"    />
        <result property="maintenanceAnalysis"    column="maintenance_analysis"    />
    </resultMap>

    <sql id="selectDeviceFaultAnalysisVo">
        select analysis_id, analysis_name, analysis_record_time, maintenance_analysis from device_fault_analysis
    </sql>

    <select id="selectDeviceFaultAnalysisList" parameterType="DeviceFaultAnalysis" resultMap="DeviceFaultAnalysisResult">
        <include refid="selectDeviceFaultAnalysisVo"/>
        <where>
            <if test="analysisName != null  and analysisName != ''"> and analysis_name like concat('%', #{analysisName}, '%')</if>
            <if test="analysisRecordTime != null "> and analysis_record_time = #{analysisRecordTime}</if>
            <if test="maintenanceAnalysis != null  and maintenanceAnalysis != ''"> and maintenance_analysis = #{maintenanceAnalysis}</if>
        </where>
    </select>

    <select id="selectDeviceFaultAnalysisByAnalysisId" parameterType="String" resultMap="DeviceFaultAnalysisResult">
        <include refid="selectDeviceFaultAnalysisVo"/>
        where analysis_id = #{analysisId}
    </select>

    <select id="selectByNameAndDate" parameterType="DeviceFaultAnalysis"  resultMap="DeviceFaultAnalysisResult">
        <include refid="selectDeviceFaultAnalysisVo"/>
        <where>
            <if test="analysisName != null  and analysisName != ''"> and analysis_name = #{analysisName}</if>
            <if test="analysisRecordTime != null "> and analysis_record_time = #{analysisRecordTime}</if>
        </where>
    </select>

    <insert id="insertDeviceFaultAnalysis" parameterType="DeviceFaultAnalysis" useGeneratedKeys="true" keyProperty="analysisId">
        insert into device_fault_analysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="analysisName != null and analysisName != ''">analysis_name,</if>
            <if test="analysisRecordTime != null">analysis_record_time,</if>
            <if test="maintenanceAnalysis != null and maintenanceAnalysis != ''">maintenance_analysis,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="analysisName != null and analysisName != ''">#{analysisName},</if>
            <if test="analysisRecordTime != null">#{analysisRecordTime},</if>
            <if test="maintenanceAnalysis != null and maintenanceAnalysis != ''">#{maintenanceAnalysis},</if>
        </trim>
    </insert>

    <update id="updateDeviceFaultAnalysis" parameterType="DeviceFaultAnalysis">
        update device_fault_analysis
        <trim prefix="SET" suffixOverrides=",">
            <if test="analysisName != null ">analysis_name = #{analysisName},</if>
            <if test="analysisRecordTime != null">analysis_record_time = #{analysisRecordTime},</if>
            <if test="maintenanceAnalysis != null">maintenance_analysis = #{maintenanceAnalysis},</if>
        </trim>
        where analysis_id = #{analysisId}
    </update>

    <delete id="deleteDeviceFaultAnalysisByAnalysisId" parameterType="String">
        delete from device_fault_analysis where analysis_id = #{analysisId}
    </delete>

    <delete id="deleteDeviceFaultAnalysisByAnalysisIds" parameterType="String">
        delete from device_fault_analysis where analysis_id in
        <foreach item="analysisId" collection="array" open="(" separator="," close=")">
            #{analysisId}
        </foreach>
    </delete>
</mapper>