<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.device.fileTable.mapper.DeviceSopFileMapper">

    <resultMap type="DeviceSopFile" id="DeviceSopFileResult">
        <result property="sopFileId"    column="sop_file_id"    />
        <result property="sopCombineId"    column="sop_combine_id"    />
        <result property="sopNum"    column="sop_num"    />
        <result property="sopName"    column="sop_name"    />
        <result property="sopMaintenance"    column="sop_maintenance"    />
        <result property="sopRepair"    column="sop_repair"    />
        <result property="upTime"    column="up_time"    />
        <result property="ifHistory"    column="if_history"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectDeviceSopFileVo">
        select sop_file_id, sop_combine_id, sop_num, sop_name, sop_maintenance, sop_repair, up_time, if_history, create_time, create_by, update_time, update_by from device_sop_file
    </sql>

    <select id="selectDeviceSopFileList" parameterType="DeviceSopFile" resultMap="DeviceSopFileResult">
        <include refid="selectDeviceSopFileVo"/>
        <where>
            <if test="sopCombineId != null "> and sop_combine_id = #{sopCombineId}</if>
            <if test="sopNum != null  and sopNum != ''"> and sop_num like concat('%', #{sopNum}, '%')</if>
            <if test="sopName != null  and sopName != ''"> and sop_name like concat('%', #{sopName}, '%')</if>
            <if test="sopMaintenance != null  and sopMaintenance != ''"> and sop_maintenance = #{sopMaintenance}</if>
            <if test="sopRepair != null  and sopRepair != ''"> and sop_repair = #{sopRepair}</if>
            <if test="params.beginUpTime != null and params.beginUpTime != '' and params.endUpTime != null and params.endUpTime != ''"> and up_time between #{params.beginUpTime} and #{params.endUpTime}</if>
            <if test="ifHistory != null  and ifHistory != ''"> and if_history = #{ifHistory}</if>
        </where>
    </select>

    <select id="selectDeviceSopFileBySopFileId" parameterType="String" resultMap="DeviceSopFileResult">
        <include refid="selectDeviceSopFileVo"/>
        where sop_file_id = #{sopFileId}
    </select>

    <insert id="insertDeviceSopFile" parameterType="DeviceSopFile" useGeneratedKeys="true" keyProperty="sopFileId">
        insert into device_sop_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sopCombineId != null">sop_combine_id,</if>
            <if test="sopNum != null">sop_num,</if>
            <if test="sopName != null">sop_name,</if>
            <if test="sopMaintenance != null">sop_maintenance,</if>
            <if test="sopRepair != null">sop_repair,</if>
            <if test="upTime != null">up_time,</if>
            <if test="ifHistory != null">if_history,</if>
            create_time,
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sopCombineId != null">#{sopCombineId},</if>
            <if test="sopNum != null">#{sopNum},</if>
            <if test="sopName != null">#{sopName},</if>
            <if test="sopMaintenance != null">#{sopMaintenance},</if>
            <if test="sopRepair != null">#{sopRepair},</if>
            <if test="upTime != null">#{upTime},</if>
            <if test="ifHistory != null">#{ifHistory},</if>
            CONVERT_TZ(NOW(), 'SYSTEM', '+08:00'),
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateDeviceSopFile" parameterType="DeviceSopFile">
        update device_sop_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="sopCombineId != null">sop_combine_id = #{sopCombineId},</if>
            <if test="sopNum != null">sop_num = #{sopNum},</if>
            <if test="sopName != null">sop_name = #{sopName},</if>
            <if test="sopMaintenance != null">sop_maintenance = #{sopMaintenance},</if>
            <if test="sopRepair != null">sop_repair = #{sopRepair},</if>
            <if test="upTime != null">up_time = #{upTime},</if>
            <if test="ifHistory != null">if_history = #{ifHistory},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where sop_file_id = #{sopFileId}
    </update>

    <delete id="deleteDeviceSopFileBySopFileId" parameterType="String">
        delete from device_sop_file where sop_file_id = #{sopFileId}
    </delete>

    <delete id="deleteDeviceSopFileBySopFileIds" parameterType="String">
        delete from device_sop_file where sop_file_id in
        <foreach item="sopFileId" collection="array" open="(" separator="," close=")">
            #{sopFileId}
        </foreach>
    </delete>
</mapper>