<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.device.fileTable.mapper.DeviceSopFileMapper">

    <resultMap type="DeviceSopFile" id="DeviceSopFileResult">
        <result property="sopFileId"    column="sop_file_id"    />
        <result property="sopCombineId"    column="sop_combine_id"    />
        <result property="sopNum"    column="sop_num"    />
        <result property="sopName"    column="sop_name"    />
        <result property="sopType"    column="sop_type"    />
        <result property="upTime"    column="up_time"    />
        <result property="ifHistory"    column="if_history"    />
        <result property="sopInfo"    column="sop_info"    />
    </resultMap>

    <sql id="selectDeviceSopFileVo">
        select sop_file_id, sop_combine_id, sop_num, sop_name, sop_type, up_time, if_history, sop_info from device_sop_file
    </sql>

    <select id="selectDeviceSopFileList" parameterType="DeviceSopFile" resultMap="DeviceSopFileResult">
        <include refid="selectDeviceSopFileVo"/>
        <where>
            <if test="sopCombineId != null "> and sop_combine_id = #{sopCombineId}</if>
            <if test="sopNum != null  and sopNum != ''"> and sop_num like concat('%', #{sopNum}, '%')</if>
            <if test="sopName != null  and sopName != ''"> and sop_name like concat('%', #{sopName}, '%')</if>
            <if test="sopType != null  and sopType != ''"> and sop_type = #{sopType}</if>
            <if test="params.beginUpTime != null and params.beginUpTime != '' and params.endUpTime != null and params.endUpTime != ''"> and up_time between #{params.beginUpTime} and #{params.endUpTime}</if>
            <if test="ifHistory != null  and ifHistory != ''"> and if_history = #{ifHistory}</if>
            <if test="sopInfo != null  and sopInfo != ''"> and sop_info = #{sopInfo}</if>
        </where>
    </select>

    <select id="selectDeviceSopFileBySopFileId" parameterType="String" resultMap="DeviceSopFileResult">
        <include refid="selectDeviceSopFileVo"/>
        where sop_file_id = #{sopFileId}
    </select>

    <insert id="insertDeviceSopFile" parameterType="DeviceSopFile" useGeneratedKeys="true" keyProperty="sopFileId">
        insert into device_sop_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sopCombineId != null">sop_combine_id,</if>
            <if test="sopNum != null">sop_num,</if>
            <if test="sopName != null">sop_name,</if>
            <if test="sopType != null">sop_type,</if>
            <if test="upTime != null">up_time,</if>
            <if test="ifHistory != null">if_history,</if>
            <if test="sopInfo != null">sop_info,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sopCombineId != null">#{sopCombineId},</if>
            <if test="sopNum != null">#{sopNum},</if>
            <if test="sopName != null">#{sopName},</if>
            <if test="sopType != null">#{sopType},</if>
            <if test="upTime != null">#{upTime},</if>
            <if test="ifHistory != null">#{ifHistory},</if>
            <if test="sopInfo != null">#{sopInfo},</if>
        </trim>
    </insert>

    <update id="updateDeviceSopFile" parameterType="DeviceSopFile">
        update device_sop_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="sopCombineId != null">sop_combine_id = #{sopCombineId},</if>
            <if test="sopNum != null">sop_num = #{sopNum},</if>
            <if test="sopName != null">sop_name = #{sopName},</if>
            <if test="sopType != null">sop_type = #{sopType},</if>
            <if test="upTime != null">up_time = #{upTime},</if>
            <if test="ifHistory != null">if_history = #{ifHistory},</if>
            <if test="sopInfo != null">sop_info = #{sopInfo},</if>
        </trim>
        where sop_file_id = #{sopFileId}
    </update>

    <delete id="deleteDeviceSopFileBySopFileId" parameterType="String">
        delete from device_sop_file where sop_file_id = #{sopFileId}
    </delete>

    <delete id="deleteDeviceSopFileBySopFileIds" parameterType="String">
        delete from device_sop_file where sop_file_id in
        <foreach item="sopFileId" collection="array" open="(" separator="," close=")">
            #{sopFileId}
        </foreach>
    </delete>
</mapper>