<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.production.mapper.HistoryOrderMapper">

    <resultMap type="HistoryOrderEntity" id="HistoryOrderResult">
        <result property="id" column="id"/>
        <result property="branch" column="branch"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderDate" column="order_date"/>
        <result property="vehicleModel" column="vehicle_model"/>
        <result property="quantity" column="quantity"/>
        <result property="orderYear" column="order_year"/>
    </resultMap>

    <sql id="selectHistoryOrderVo">
        select id, branch, order_number, order_date, vehicle_model, quantity, order_year
        from production_history_order
    </sql>

    <select id="selectHistoryOrderList" parameterType="HistoryOrderEntity" resultMap="HistoryOrderResult">
        <include refid="selectHistoryOrderVo"/>
        <where>
            <if test="branch != null  and branch != ''">and branch = #{branch}</if>
            <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
            <if test="orderDate != null ">and order_date = #{orderDate}</if>
            <if test="vehicleModel != null  and vehicleModel != ''">and vehicle_model = #{vehicleModel}</if>
            <if test="quantity != null ">and quantity = #{quantity}</if>
            <if test="orderYear != null ">and order_year = #{orderYear}</if>
        </where>
    </select>

    <select id="selectHistoryOrderById" parameterType="String" resultMap="HistoryOrderResult">
        <include refid="selectHistoryOrderVo"/>
        where id = #{id}
    </select>

    <insert id="insertHistoryOrder" parameterType="HistoryOrderEntity" useGeneratedKeys="true" keyProperty="id">
        insert into production_history_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="branch != null">branch,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="vehicleModel != null">vehicle_model,</if>
            <if test="quantity != null">quantity,</if>
            <if test="orderYear != null">order_year,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="branch != null">#{branch},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="vehicleModel != null">#{vehicleModel},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="orderYear != null">#{orderYear},</if>
        </trim>
    </insert>


    <insert id="batchInsert" parameterType="list">
        insert into production_history_order(branch, order_number, order_date, vehicle_model, quantity, order_year)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.branch}, #{item.orderNumber}, #{item.orderDate}, #{item.vehicleModel}, #{item.quantity}, #{item.orderYear})
        </foreach>
    </insert>


    <!--  批量插入数据库  -->
<!--    <insert id="batchInsertProductionTable" parameterType="java.util.List">-->
<!--        insert into Production_Table(CREATED_BY,CREATED_TIME,Acceptance_Date,Launch_Date,-->
<!--        Order_Number,Contract_Number,Car_Number,Vehicle_Model,-->
<!--        Door_Frame_Height,Amount,Accessory,Valve_Block,-->
<!--        Car_Configuration,Planned_Completion_Period,Customer,-->
<!--        Vehicle_Launch_Date,Completion_Period_Of_Door_Frame_Assembly,-->
<!--        Trial_Completion_Period,Special_Operations,Precision_Completion_Period,-->
<!--        Production_SiteIssues,Procurement_Of_On_site_Abnormal_Issues,-->
<!--        Quality_Of_On_site_Abnormal_Issues,Go_Live,Warehousing,Production_Cycle)-->
<!--        values-->
<!--        <foreach collection="productionTableList" item="e" separator=",">-->
<!--            (#{e.createdBy},#{e.createdTime},#{e.acceptanceDate},-->
<!--            #{e.launchDate},#{e.orderNumber},#{e.contractNumber},-->
<!--            #{e.carNumber},#{e.vehicleModel},#{e.doorFrameHeight},-->
<!--            #{e.amount},#{e.accessory},#{e.valveBlock},#{e.carConfiguration},-->
<!--            #{e.plannedCompletionPeriod},#{e.customer},#{e.vehicleLaunchDate},-->
<!--            #{e.completionPeriodOfDoorFrameAssembly},#{e.trialCompletionPeriod},-->
<!--            #{e.specialOperations},#{e.precisionCompletionPeriod},#{e.productionSiteIssues},-->
<!--            #{e.procurementOfOnSiteAbnormalIssues},#{e.qualityOfOnSiteAbnormalIssues},-->
<!--            #{e.goLive},#{e.warehousing},#{e.productionCycle})-->
<!--        </foreach>-->
<!--    </insert>-->

    <update id="updateHistoryOrder" parameterType="HistoryOrderEntity">
        update production_history_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="branch != null">branch = #{branch},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="vehicleModel != null">vehicle_model = #{vehicleModel},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="orderYear != null">order_year = #{orderYear},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHistoryOrderById" parameterType="String">
        delete
        from production_history_order
        where id = #{id}
    </delete>

    <delete id="deleteHistoryOrderByIds" parameterType="String">
        delete from production_history_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
