<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.production.mapper.HistoryOrderStatisticsMapper">

    <resultMap type="HistoryOrderStatisticsEntity" id="HistoryOrderStatisticsEntityResult">
        <result property="id"    column="id"    />
        <result property="yearAndMonth"    column="year_and_month"    />
        <result property="vehicleModel"    column="vehicle_model"    />
        <result property="quantity"    column="quantity"    />
        <result property="capacityType"    column="capacity_type"    />
    </resultMap>

    <sql id="selectHistoryOrderStatisticsEntityVo">
        select id, year_and_month, vehicle_model, quantity, capacity_type from production_history_order_statistics
    </sql>

    <select id="selectHistoryOrderStatisticsEntityList" parameterType="HistoryOrderStatisticsEntity" resultMap="HistoryOrderStatisticsEntityResult">
        <include refid="selectHistoryOrderStatisticsEntityVo"/>
        <where>
            <if test="yearAndMonth != null "> and year_and_month = #{yearAndMonth}</if>
            <if test="vehicleModel != null  and vehicleModel != ''"> and vehicle_model = #{vehicleModel}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="capacityType != null  and capacityType != ''"> and capacity_type = #{capacityType}</if>
        </where>
    </select>




</mapper>