<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.production.mapper.OrderSchedulingMapper">

    <resultMap type="OrderSchedulingEntity" id="OrderSchedulingResult">
        <result property="id" column="id"/>
        <result property="branch" column="branch"/>
        <result property="contractNumber" column="contract_number"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderDate" column="order_date"/>
        <result property="vehicleModel" column="vehicle_model"/>
        <result property="quantity" column="quantity"/>
        <result property="valvePlate" column="valve_plate"/>
        <result property="forklift" column="forklift"/>
        <result property="mast" column="mast"/>
        <result property="airFilter" column="air_filter"/>
        <result property="attachments" column="attachments"/>
        <result property="tires" column="tires"/>
        <result property="configuration" column="configuration"/>
        <result property="vehicleNumber" column="vehicle_number"/>
        <result property="remarks" column="remarks"/>
        <result property="deliveryForm" column="delivery_form"/>
        <result property="deliveryLocation" column="delivery_location"/>
        <result property="contactPerson" column="contact_person"/>
        <result property="phoneNumber" column="phone_number"/>
        <result property="systemDeliveryDate" column="system_delivery_date"/>
        <result property="productionCompletionDate" column="production_completion_date"/>
        <result property="procurementArrivalDate" column="procurement_arrival_date"/>
        <result property="missingPartRecords" column="missing_part_records"/>
        <result property="productionCycle" column="production_cycle"/>
        <result property="capacityType" column="capacity_type"/>
        <result property="latestOnlineDate" column="latest_online_date"/>
        <result property="isOverdue" column="is_overdue"/>
        <result property="isUrgent" column="is_urgent"/>
        <result property="isScheduling" column="is_scheduling"/>
        <result property="onlineDate" column="online_date"/>
    </resultMap>

    <sql id="selectOrderSchedulingVo">
        select id,
               branch,
               contract_number,
               order_number,
               order_date,
               vehicle_model,
               quantity,
               valve_plate,
               forklift,
               mast,
               air_filter,
               attachments,
               tires,
               configuration,
               vehicle_number,
               remarks,
               delivery_form,
               delivery_location,
               contact_person,
               phone_number,
               system_delivery_date,
               production_completion_date,
               procurement_arrival_date,
               missing_part_records,
               production_cycle,
               capacity_type,
               latest_online_date,
               is_overdue,
               is_urgent,
               is_scheduling,
               online_date
        from production_order_scheduling
    </sql>

    <select id="selectOrderSchedulingList" parameterType="OrderSchedulingEntity" resultMap="OrderSchedulingResult">
        <include refid="selectOrderSchedulingVo"/>
        <where>
            <if test="branch != null  and branch != ''">and branch = #{branch}</if>
            <if test="contractNumber != null  and contractNumber != ''">and contract_number = #{contractNumber}</if>
            <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
            <if test="orderDate != null ">and order_date = #{orderDate}</if>
            <if test="vehicleModel != null  and vehicleModel != ''">and vehicle_model = #{vehicleModel}</if>
            <if test="quantity != null ">and quantity = #{quantity}</if>
            <if test="valvePlate != null  and valvePlate != ''">and valve_plate = #{valvePlate}</if>
            <if test="forklift != null  and forklift != ''">and forklift = #{forklift}</if>
            <if test="mast != null  and mast != ''">and mast = #{mast}</if>
            <if test="airFilter != null  and airFilter != ''">and air_filter = #{airFilter}</if>
            <if test="attachments != null  and attachments != ''">and attachments = #{attachments}</if>
            <if test="tires != null  and tires != ''">and tires = #{tires}</if>
            <if test="configuration != null  and configuration != ''">and configuration = #{configuration}</if>
            <if test="vehicleNumber != null  and vehicleNumber != ''">and vehicle_number = #{vehicleNumber}</if>
            <if test="remarks != null  and remarks != ''">and remarks = #{remarks}</if>
            <if test="deliveryForm != null  and deliveryForm != ''">and delivery_form = #{deliveryForm}</if>
            <if test="deliveryLocation != null  and deliveryLocation != ''">and delivery_location =
                #{deliveryLocation}
            </if>
            <if test="contactPerson != null  and contactPerson != ''">and contact_person = #{contactPerson}</if>
            <if test="phoneNumber != null  and phoneNumber != ''">and phone_number = #{phoneNumber}</if>
            <if test="systemDeliveryDate != null ">and system_delivery_date = #{systemDeliveryDate}</if>
            <if test="productionCompletionDate != null ">and production_completion_date = #{productionCompletionDate}
            </if>
            <if test="procurementArrivalDate != null ">and procurement_arrival_date = #{procurementArrivalDate}</if>
            <if test="missingPartRecords != null ">and missing_part_records = #{missingPartRecords}</if>
            <if test="productionCycle != null ">and production_cycle = #{productionCycle}</if>
            <if test="capacityType != null  and capacityType != ''">and capacity_type = #{capacityType}</if>
            <if test="latestOnlineDate != null ">and latest_online_date = #{latestOnlineDate}</if>
            <if test="isOverdue != null ">and is_overdue = #{isOverdue}</if>
            <if test="isUrgent != null ">and is_urgent = #{isUrgent}</if>
            <if test="isScheduling != null ">and is_scheduling = #{isScheduling}</if>
            <if test="onlineDate != null ">and online_date = #{onlineDate}</if>
        </where>
    </select>


    <!-- 查询缺件订单列表   -->
    <select id="selectMissingPartsList" parameterType="OrderSchedulingEntity" resultMap="OrderSchedulingResult">
        <include refid="selectOrderSchedulingVo"/>
        <where>
            <if test="branch != null  and branch != ''">and branch = #{branch}</if>
            <if test="contractNumber != null  and contractNumber != ''">and contract_number = #{contractNumber}</if>
            <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
            <if test="orderDate != null ">and order_date = #{orderDate}</if>
            <if test="vehicleModel != null  and vehicleModel != ''">and vehicle_model = #{vehicleModel}</if>
            <if test="quantity != null ">and quantity = #{quantity}</if>
            <if test="valvePlate != null  and valvePlate != ''">and valve_plate = #{valvePlate}</if>
            <if test="forklift != null  and forklift != ''">and forklift = #{forklift}</if>
            <if test="mast != null  and mast != ''">and mast = #{mast}</if>
            <if test="airFilter != null  and airFilter != ''">and air_filter = #{airFilter}</if>
            <if test="attachments != null  and attachments != ''">and attachments = #{attachments}</if>
            <if test="tires != null  and tires != ''">and tires = #{tires}</if>
            <if test="configuration != null  and configuration != ''">and configuration = #{configuration}</if>
            <if test="vehicleNumber != null  and vehicleNumber != ''">and vehicle_number = #{vehicleNumber}</if>
            <if test="remarks != null  and remarks != ''">and remarks = #{remarks}</if>
            <if test="deliveryForm != null  and deliveryForm != ''">and delivery_form = #{deliveryForm}</if>
            <if test="deliveryLocation != null  and deliveryLocation != ''">and delivery_location =
                #{deliveryLocation}
            </if>
            <if test="contactPerson != null  and contactPerson != ''">and contact_person = #{contactPerson}</if>
            <if test="phoneNumber != null  and phoneNumber != ''">and phone_number = #{phoneNumber}</if>
            <if test="systemDeliveryDate != null ">and system_delivery_date = #{systemDeliveryDate}</if>
            <if test="productionCompletionDate != null ">and production_completion_date = #{productionCompletionDate}
            </if>

            <if test="procurementArrivalDate != null ">and procurement_arrival_date = #{procurementArrivalDate}</if>
            <if test="procurementArrivalDate == null ">and procurement_arrival_date is not null</if>
            <if test="missingPartRecords != null ">and missing_part_records = #{missingPartRecords}</if>

            <if test="productionCycle != null ">and production_cycle = #{productionCycle}</if>
            <if test="capacityType != null  and capacityType != ''">and capacity_type = #{capacityType}</if>
            <if test="latestOnlineDate != null ">and latest_online_date = #{latestOnlineDate}</if>
            <if test="isOverdue != null ">and is_overdue = #{isOverdue}</if>
            <if test="isUrgent != null ">and is_urgent = #{isUrgent}</if>
            <if test="isScheduling != null ">and is_scheduling = #{isScheduling}</if>
            <if test="onlineDate != null ">and online_date = #{onlineDate}</if>
        </where>
    </select>

    <!-- 查询延期订单数据分析   -->
    <select id="selectDataAnalysis" resultType="com.heli.production.domain.entity.OrderSchedulingEntity">
        <include refid="selectOrderSchedulingVo"/>
        <where>
            <if test="branch != null  and branch != ''">and branch = #{branch}</if>
            <if test="contractNumber != null  and contractNumber != ''">and contract_number = #{contractNumber}</if>
            <if test="orderNumber != null  and orderNumber != ''">and order_number = #{orderNumber}</if>
            <if test="orderDate != null ">and order_date = #{orderDate}</if>
            <if test="vehicleModel != null  and vehicleModel != ''">and vehicle_model = #{vehicleModel}</if>
            <if test="quantity != null ">and quantity = #{quantity}</if>
            <if test="valvePlate != null  and valvePlate != ''">and valve_plate = #{valvePlate}</if>
            <if test="forklift != null  and forklift != ''">and forklift = #{forklift}</if>
            <if test="mast != null  and mast != ''">and mast = #{mast}</if>
            <if test="airFilter != null  and airFilter != ''">and air_filter = #{airFilter}</if>
            <if test="attachments != null  and attachments != ''">and attachments = #{attachments}</if>
            <if test="tires != null  and tires != ''">and tires = #{tires}</if>
            <if test="configuration != null  and configuration != ''">and configuration = #{configuration}</if>
            <if test="vehicleNumber != null  and vehicleNumber != ''">and vehicle_number = #{vehicleNumber}</if>
            <if test="remarks != null  and remarks != ''">and remarks = #{remarks}</if>
            <if test="deliveryForm != null  and deliveryForm != ''">and delivery_form = #{deliveryForm}</if>
            <if test="deliveryLocation != null  and deliveryLocation != ''">and delivery_location =
                #{deliveryLocation}
            </if>
            <if test="contactPerson != null  and contactPerson != ''">and contact_person = #{contactPerson}</if>
            <if test="phoneNumber != null  and phoneNumber != ''">and phone_number = #{phoneNumber}</if>
            <if test="systemDeliveryDate != null ">and system_delivery_date = #{systemDeliveryDate}</if>
            <if test="productionCompletionDate != null ">and production_completion_date = #{productionCompletionDate}
            </if>
            <if test="procurementArrivalDate != null ">and procurement_arrival_date = #{procurementArrivalDate}</if>
            <if test="missingPartRecords != null ">and missing_part_records = #{missingPartRecords}</if>
            <if test="productionCycle != null ">and production_cycle = #{productionCycle}</if>
            <if test="capacityType != null  and capacityType != ''">and capacity_type = #{capacityType}</if>
            <if test="latestOnlineDate != null ">and latest_online_date = #{latestOnlineDate}</if>
            <if test="isOverdue != null ">and is_overdue = #{isOverdue}</if>
            <if test="isUrgent != null ">and is_urgent = #{isUrgent}</if>
            <if test="isScheduling != null ">and is_scheduling = #{isScheduling}</if>
            <if test="onlineDate != null ">and online_date = #{onlineDate}</if>
            and online_date &gt; latest_online_date
        </where>
    </select>


    <delete id="deleteOrderSchedulingById" parameterType="Long">
        delete
        from production_order_scheduling
        where id = #{id}
    </delete>

    <delete id="deleteOrderSchedulingByIds" parameterType="String">
        delete from production_order_scheduling where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
