<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supplier.mapper.SupplierReduceSupportMapper">

    <resultMap type="SupplierReduceSupport" id="SupplierReduceSupportResult">
        <result property="id"    column="id"    />
        <result property="supplierCodePast"    column="supplier_code_past"    />
        <result property="supplierNamePast"    column="supplier_name_past"    />
        <result property="supplierCodeNow"    column="supplier_code_now"    />
        <result property="supplierNameNow"    column="supplier_name_now"    />
        <result property="decrease"    column="decrease"    />
        <result property="totalPurchases"    column="total_purchases"    />
        <result property="reduceMoney"    column="reduce_money"    />
        <result property="price"    column="price"    />
        <result property="supplyAmount"    column="supply_amount"    />
        <result property="percentage"    column="percentage"    />
        <result property="priceStatisticDate"    column="price_statistic_date"    />
        <result property="score"    column="score"    />
        <result property="uploadTime"    column="upload_time"    />
        <result property="uploadName"    column="upload_name"    />
        <result property="one"    column="one"    />
    </resultMap>

    <sql id="selectSupplierReduceSupportVo">
        select id, supplier_code_past, supplier_name_past, supplier_code_now, supplier_name_now, decrease, total_purchases, reduce_money, price, supply_amount, percentage, price_statistic_date, score, upload_time, upload_name, one from supplier_reduce_support
    </sql>

    <select id="selectSupplierReduceSupportList" parameterType="SupplierReduceSupport" resultMap="SupplierReduceSupportResult">
        <include refid="selectSupplierReduceSupportVo"/>
        <where>
            <if test="supplierCodePast != null  and supplierCodePast != ''"> and supplier_code_past = #{supplierCodePast}</if>
            <if test="supplierNamePast != null  and supplierNamePast != ''"> and supplier_name_past = #{supplierNamePast}</if>
            <if test="supplierCodeNow != null  and supplierCodeNow != ''"> and supplier_code_now = #{supplierCodeNow}</if>
            <if test="supplierNameNow != null  and supplierNameNow != ''"> and supplier_name_now = #{supplierNameNow}</if>
            <if test="decrease != null "> and decrease = #{decrease}</if>
            <if test="totalPurchases != null "> and total_purchases = #{totalPurchases}</if>
            <if test="reduceMoney != null "> and reduce_money = #{reduceMoney}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="supplyAmount != null "> and supply_amount = #{supplyAmount}</if>
            <if test="percentage != null "> and percentage = #{percentage}</if>
            <if test="priceStatisticDate != null  and priceStatisticDate != ''"> and price_statistic_date = #{priceStatisticDate}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            <if test="uploadName != null  and uploadName != ''"> and upload_name like concat('%', #{uploadName}, '%')</if>
            <if test="one != null  and one != ''"> and one = #{one}</if>
        </where>
    </select>

    <select id="selectSupplierReduceSupportById" parameterType="String" resultMap="SupplierReduceSupportResult">
        <include refid="selectSupplierReduceSupportVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplierReduceSupport" parameterType="SupplierReduceSupport" useGeneratedKeys="true" keyProperty="id">
        insert into supplier_reduce_support
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierCodePast != null">supplier_code_past,</if>
            <if test="supplierNamePast != null">supplier_name_past,</if>
            <if test="supplierCodeNow != null">supplier_code_now,</if>
            <if test="supplierNameNow != null">supplier_name_now,</if>
            <if test="decrease != null">decrease,</if>
            <if test="totalPurchases != null">total_purchases,</if>
            <if test="reduceMoney != null">reduce_money,</if>
            <if test="price != null">price,</if>
            <if test="supplyAmount != null">supply_amount,</if>
            <if test="percentage != null">percentage,</if>
            <if test="priceStatisticDate != null">price_statistic_date,</if>
            <if test="score != null">score,</if>
            <if test="uploadTime != null">upload_time,</if>
            <if test="uploadName != null">upload_name,</if>
            <if test="one != null">one,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierCodePast != null">#{supplierCodePast},</if>
            <if test="supplierNamePast != null">#{supplierNamePast},</if>
            <if test="supplierCodeNow != null">#{supplierCodeNow},</if>
            <if test="supplierNameNow != null">#{supplierNameNow},</if>
            <if test="decrease != null">#{decrease},</if>
            <if test="totalPurchases != null">#{totalPurchases},</if>
            <if test="reduceMoney != null">#{reduceMoney},</if>
            <if test="price != null">#{price},</if>
            <if test="supplyAmount != null">#{supplyAmount},</if>
            <if test="percentage != null">#{percentage},</if>
            <if test="priceStatisticDate != null">#{priceStatisticDate},</if>
            <if test="score != null">#{score},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
            <if test="uploadName != null">#{uploadName},</if>
            <if test="one != null">#{one},</if>
        </trim>
    </insert>

    <update id="updateSupplierReduceSupport" parameterType="SupplierReduceSupport">
        update supplier_reduce_support
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCodePast != null">supplier_code_past = #{supplierCodePast},</if>
            <if test="supplierNamePast != null">supplier_name_past = #{supplierNamePast},</if>
            <if test="supplierCodeNow != null">supplier_code_now = #{supplierCodeNow},</if>
            <if test="supplierNameNow != null">supplier_name_now = #{supplierNameNow},</if>
            <if test="decrease != null">decrease = #{decrease},</if>
            <if test="totalPurchases != null">total_purchases = #{totalPurchases},</if>
            <if test="reduceMoney != null">reduce_money = #{reduceMoney},</if>
            <if test="price != null">price = #{price},</if>
            <if test="supplyAmount != null">supply_amount = #{supplyAmount},</if>
            <if test="percentage != null">percentage = #{percentage},</if>
            <if test="priceStatisticDate != null">price_statistic_date = #{priceStatisticDate},</if>
            <if test="score != null">score = #{score},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
            <if test="uploadName != null">upload_name = #{uploadName},</if>
            <if test="one != null">one = #{one},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierReduceSupportById" parameterType="String">
        delete from supplier_reduce_support where id = #{id}
    </delete>

    <delete id="deleteSupplierReduceSupportByIds" parameterType="String">
        delete from supplier_reduce_support where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>