<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supplier.mapper.SupplierImportanceMapper">
    
    <resultMap type="SupplierImportance" id="SupplierImportanceResult">
        <result property="id"    column="id"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="amount"    column="amount"    />
<!--        <result property="percentage"    column="percentage"    />-->
        <result property="score"    column="score"    />
        <result property="uploadTime"    column="upload_time"    />
<!--        <result property="one"    column="one"    />-->
<!--        <result property="two"    column="two"    />-->
<!--        <result property="three"    column="three"    />-->
    </resultMap>

    <sql id="selectSupplierImportanceVo">
        select id, supplier_code, supplier_name, amount, score, upload_time from supplier_importance
    </sql>

    <select id="selectSupplierImportanceList" parameterType="SupplierImportance" resultMap="SupplierImportanceResult">
        <include refid="selectSupplierImportanceVo"/>
        <where>  
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="amount != null "> and amount = #{amount}</if>
<!--            <if test="percentage != null  and percentage != ''"> and percentage = #{percentage}</if>-->
            <if test="score != null "> and score = #{score}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
<!--            <if test="one != null  and one != ''"> and one = #{one}</if>-->
<!--            <if test="two != null  and two != ''"> and two = #{two}</if>-->
<!--            <if test="three != null  and three != ''"> and three = #{three}</if>-->
        </where>
    </select>
    
    <select id="selectSupplierImportanceById" parameterType="String" resultMap="SupplierImportanceResult">
        <include refid="selectSupplierImportanceVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplierImportance" parameterType="SupplierImportance" useGeneratedKeys="true" keyProperty="id">
        insert into supplier_importance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="amount != null">amount,</if>
<!--            <if test="percentage != null">percentage,</if>-->
            <if test="score != null">score,</if>
            <if test="uploadTime != null">upload_time,</if>
<!--            <if test="one != null">one,</if>-->
<!--            <if test="two != null">two,</if>-->
<!--            <if test="three != null">three,</if>-->
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="amount != null">#{amount},</if>
<!--            <if test="percentage != null">#{percentage},</if>-->
            <if test="score != null">#{score},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
<!--            <if test="one != null">#{one},</if>-->
<!--            <if test="two != null">#{two},</if>-->
<!--            <if test="three != null">#{three},</if>-->
         </trim>
    </insert>

    <update id="updateSupplierImportance" parameterType="SupplierImportance">
        update supplier_importance
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="amount != null">amount = #{amount},</if>
<!--            <if test="percentage != null">percentage = #{percentage},</if>-->
            <if test="score != null">score = #{score},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
<!--            <if test="one != null">one = #{one},</if>-->
<!--            <if test="two != null">two = #{two},</if>-->
<!--            <if test="three != null">three = #{three},</if>-->
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierImportanceById" parameterType="String">
        delete from supplier_importance where id = #{id}
    </delete>

    <delete id="deleteSupplierImportanceByIds" parameterType="String">
        delete from supplier_importance where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>