<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supplier.mapper.SupplierRiskMapper">
    
    <resultMap type="SupplierRisk" id="SupplierRiskResult">
        <result property="id"    column="id"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="score"    column="score"    />
<!--        <result property="modelScore"    column="model_score"    />-->
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectSupplierRiskVo">
        select id, supplier_code, supplier_name, score, upload_time from supplier_risk
    </sql>

    <select id="selectSupplierRiskList" parameterType="SupplierRisk" resultMap="SupplierRiskResult">
        <include refid="selectSupplierRiskVo"/>
        <where>  
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="score != null "> and score = #{score}</if>
<!--            <if test="modelScore != null "> and model_score = #{modelScore}</if>-->
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
        </where>
    </select>
    
    <select id="selectSupplierRiskById" parameterType="String" resultMap="SupplierRiskResult">
        <include refid="selectSupplierRiskVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplierRisk" parameterType="SupplierRisk" useGeneratedKeys="true" keyProperty="id">
        insert into supplier_risk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="score != null">score,</if>
<!--            <if test="modelScore != null">model_score,</if>-->
            <if test="uploadTime != null">upload_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="score != null">#{score},</if>
<!--            <if test="modelScore != null">#{modelScore},</if>-->
            <if test="uploadTime != null">#{uploadTime},</if>
         </trim>
    </insert>

    <update id="updateSupplierRisk" parameterType="SupplierRisk">
        update supplier_risk
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="score != null">score = #{score},</if>
<!--            <if test="modelScore != null">model_score = #{modelScore},</if>-->
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierRiskById" parameterType="String">
        delete from supplier_risk where id = #{id}
    </delete>

    <delete id="deleteSupplierRiskByIds" parameterType="String">
        delete from supplier_risk where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>