<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heli.supplier.mapper.SupplierReduceSupportMapper">

    <resultMap type="SupplierReduceSupport" id="SupplierReduceSupportResult">
        <result property="id"    column="id"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="reduceMoney"    column="reduce_money"    />
        <result property="percentage"    column="percentage"    />
        <result property="score"    column="score"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectSupplierReduceSupportVo">
        select id, supplier_code, supplier_name, reduce_money, percentage, score, upload_time from supplier_reduce_support
    </sql>

    <select id="selectSupplierReduceSupportList" parameterType="SupplierReduceSupport" resultMap="SupplierReduceSupportResult">
        <include refid="selectSupplierReduceSupportVo"/>
        <where>
            <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="reduceMoney != null "> and reduce_money = #{reduceMoney}</if>
            <if test="percentage != null  and percentage != ''"> and percentage = #{percentage}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
        </where>
    </select>

    <select id="selectSupplierReduceSupportById" parameterType="String" resultMap="SupplierReduceSupportResult">
        <include refid="selectSupplierReduceSupportVo"/>
        where id = #{id}
    </select>

    <insert id="insertSupplierReduceSupport" parameterType="SupplierReduceSupport" useGeneratedKeys="true" keyProperty="id">
        insert into supplier_reduce_support
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="reduceMoney != null">reduce_money,</if>
            <if test="percentage != null">percentage,</if>
            <if test="score != null">score,</if>
            <if test="uploadTime != null">upload_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="reduceMoney != null">#{reduceMoney},</if>
            <if test="percentage != null">#{percentage},</if>
            <if test="score != null">#{score},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
        </trim>
    </insert>

    <update id="updateSupplierReduceSupport" parameterType="SupplierReduceSupport">
        update supplier_reduce_support
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="reduceMoney != null">reduce_money = #{reduceMoney},</if>
            <if test="percentage != null">percentage = #{percentage},</if>
            <if test="score != null">score = #{score},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierReduceSupportById" parameterType="String">
        delete from supplier_reduce_support where id = #{id}
    </delete>

    <delete id="deleteSupplierReduceSupportByIds" parameterType="String">
        delete from supplier_reduce_support where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>