<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityRelatedPartyLedgerMapper">
    
    <resultMap type="SecurityRelatedPartyLedger" id="SecurityRelatedPartyLedgerResult">
        <result property="id"    column="id"    />
        <result property="responsibleDepartment"    column="responsible_department"    />
        <result property="relatedPartyName"    column="related_party_name"    />
        <result property="mainContactPerson"    column="main_contact_person"    />
        <result property="ourCompanyContactPerson"    column="our_company_contact_person"    />
        <result property="isSafetyManagementAgreementSigned"    column="is_safety_management_agreement_signed"    />
        <result property="agreementSigningDate"    column="agreement_signing_date"    />
        <result property="factoryEntryStartDate"    column="factory_entry_start_date"    />
        <result property="factoryEntryEndDate"    column="factory_entry_end_date"    />
        <result property="externalVisitors"    column="external_visitors"    />
        <result property="interns"    column="interns"    />
        <result property="laborDispatchOutsourcing"    column="labor_dispatch_outsourcing"    />
        <result property="constructionWork"    column="construction_work"    />
        <result property="transportationInspectionServices"    column="transportation_inspection_services"    />
        <result property="logisticsDelivery"    column="logistics_delivery"    />
        <result property="onSiteParties"    column="on_site_parties"    />
        <result property="others"    column="others"    />
    </resultMap>

    <sql id="selectSecurityRelatedPartyLedgerVo">
        select id, responsible_department, related_party_name, main_contact_person, our_company_contact_person, is_safety_management_agreement_signed, agreement_signing_date, factory_entry_start_date, factory_entry_end_date, external_visitors, interns, labor_dispatch_outsourcing, construction_work, transportation_inspection_services, logistics_delivery, on_site_parties, others from security_related_party_ledger
    </sql>

    <select id="selectSecurityRelatedPartyLedgerList" parameterType="SecurityRelatedPartyLedger" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        <where>  
            <if test="responsibleDepartment != null  and responsibleDepartment != ''"> and responsible_department = #{responsibleDepartment}</if>
            <if test="relatedPartyName != null  and relatedPartyName != ''"> and related_party_name like concat('%', #{relatedPartyName}, '%')</if>
            <if test="mainContactPerson != null  and mainContactPerson != ''"> and main_contact_person = #{mainContactPerson}</if>
            <if test="ourCompanyContactPerson != null  and ourCompanyContactPerson != ''"> and our_company_contact_person = #{ourCompanyContactPerson}</if>
            <if test="isSafetyManagementAgreementSigned != null "> and is_safety_management_agreement_signed = #{isSafetyManagementAgreementSigned}</if>
            <if test="agreementSigningDate != null "> and agreement_signing_date = #{agreementSigningDate}</if>
            <if test="factoryEntryStartDate != null "> and factory_entry_start_date = #{factoryEntryStartDate}</if>
            <if test="factoryEntryEndDate != null "> and factory_entry_end_date = #{factoryEntryEndDate}</if>
            <if test="externalVisitors != null  and externalVisitors != ''"> and external_visitors = #{externalVisitors}</if>
            <if test="interns != null  and interns != ''"> and interns = #{interns}</if>
            <if test="laborDispatchOutsourcing != null  and laborDispatchOutsourcing != ''"> and labor_dispatch_outsourcing = #{laborDispatchOutsourcing}</if>
            <if test="constructionWork != null  and constructionWork != ''"> and construction_work = #{constructionWork}</if>
            <if test="transportationInspectionServices != null  and transportationInspectionServices != ''"> and transportation_inspection_services = #{transportationInspectionServices}</if>
            <if test="logisticsDelivery != null  and logisticsDelivery != ''"> and logistics_delivery = #{logisticsDelivery}</if>
            <if test="onSiteParties != null  and onSiteParties != ''"> and on_site_parties = #{onSiteParties}</if>
            <if test="others != null  and others != ''"> and others = #{others}</if>
        </where>
    </select>
    
    <select id="selectSecurityRelatedPartyLedgerById" parameterType="Long" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityRelatedPartyLedger" parameterType="SecurityRelatedPartyLedger" useGeneratedKeys="true" keyProperty="id">
        insert into security_related_party_ledger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">responsible_department,</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">related_party_name,</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">main_contact_person,</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">our_company_contact_person,</if>
            <if test="isSafetyManagementAgreementSigned != null">is_safety_management_agreement_signed,</if>
            <if test="agreementSigningDate != null">agreement_signing_date,</if>
            <if test="factoryEntryStartDate != null">factory_entry_start_date,</if>
            <if test="factoryEntryEndDate != null">factory_entry_end_date,</if>
            <if test="externalVisitors != null">external_visitors,</if>
            <if test="interns != null">interns,</if>
            <if test="laborDispatchOutsourcing != null">labor_dispatch_outsourcing,</if>
            <if test="constructionWork != null">construction_work,</if>
            <if test="transportationInspectionServices != null">transportation_inspection_services,</if>
            <if test="logisticsDelivery != null">logistics_delivery,</if>
            <if test="onSiteParties != null">on_site_parties,</if>
            <if test="others != null">others,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">#{responsibleDepartment},</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">#{relatedPartyName},</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">#{mainContactPerson},</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">#{ourCompanyContactPerson},</if>
            <if test="isSafetyManagementAgreementSigned != null">#{isSafetyManagementAgreementSigned},</if>
            <if test="agreementSigningDate != null">#{agreementSigningDate},</if>
            <if test="factoryEntryStartDate != null">#{factoryEntryStartDate},</if>
            <if test="factoryEntryEndDate != null">#{factoryEntryEndDate},</if>
            <if test="externalVisitors != null">#{externalVisitors},</if>
            <if test="interns != null">#{interns},</if>
            <if test="laborDispatchOutsourcing != null">#{laborDispatchOutsourcing},</if>
            <if test="constructionWork != null">#{constructionWork},</if>
            <if test="transportationInspectionServices != null">#{transportationInspectionServices},</if>
            <if test="logisticsDelivery != null">#{logisticsDelivery},</if>
            <if test="onSiteParties != null">#{onSiteParties},</if>
            <if test="others != null">#{others},</if>
         </trim>
    </insert>

    <update id="updateSecurityRelatedPartyLedger" parameterType="SecurityRelatedPartyLedger">
        update security_related_party_ledger
        <trim prefix="SET" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">responsible_department = #{responsibleDepartment},</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">related_party_name = #{relatedPartyName},</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">main_contact_person = #{mainContactPerson},</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">our_company_contact_person = #{ourCompanyContactPerson},</if>
            <if test="isSafetyManagementAgreementSigned != null">is_safety_management_agreement_signed = #{isSafetyManagementAgreementSigned},</if>
            <if test="agreementSigningDate != null">agreement_signing_date = #{agreementSigningDate},</if>
            <if test="factoryEntryStartDate != null">factory_entry_start_date = #{factoryEntryStartDate},</if>
            <if test="factoryEntryEndDate != null">factory_entry_end_date = #{factoryEntryEndDate},</if>
            <if test="externalVisitors != null">external_visitors = #{externalVisitors},</if>
            <if test="interns != null">interns = #{interns},</if>
            <if test="laborDispatchOutsourcing != null">labor_dispatch_outsourcing = #{laborDispatchOutsourcing},</if>
            <if test="constructionWork != null">construction_work = #{constructionWork},</if>
            <if test="transportationInspectionServices != null">transportation_inspection_services = #{transportationInspectionServices},</if>
            <if test="logisticsDelivery != null">logistics_delivery = #{logisticsDelivery},</if>
            <if test="onSiteParties != null">on_site_parties = #{onSiteParties},</if>
            <if test="others != null">others = #{others},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityRelatedPartyLedgerById" parameterType="Long">
        delete from security_related_party_ledger where id = #{id}
    </delete>

    <delete id="deleteSecurityRelatedPartyLedgerByIds" parameterType="String">
        delete from security_related_party_ledger where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>