<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityObsoleteControlledDocumentDisposalRegisterMapper">

    <resultMap type="SecurityObsoleteControlledDocumentDisposalRegister" id="SecurityObsoleteControlledDocumentDisposalRegisterResult">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="documentNumber"    column="document_number"    />
        <result property="recyclingDepartment"    column="recycling_department"    />
        <result property="isDestroyed"    column="is_destroyed"    />
        <result property="remarks"    column="remarks"    />
        <result property="relatedId"    column="related_id"    />
    </resultMap>

    <sql id="selectSecurityObsoleteControlledDocumentDisposalRegisterVo">
        select id, file_name, document_number, recycling_department, is_destroyed, remarks, related_id from security_obsolete_controlled_document_disposal_register
    </sql>

    <select id="selectSecurityObsoleteControlledDocumentDisposalRegisterList" parameterType="SecurityObsoleteControlledDocumentDisposalRegister" resultMap="SecurityObsoleteControlledDocumentDisposalRegisterResult">
        <include refid="selectSecurityObsoleteControlledDocumentDisposalRegisterVo"/>
        <where>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="documentNumber != null  and documentNumber != ''"> and document_number = #{documentNumber}</if>
            <if test="recyclingDepartment != null  and recyclingDepartment != ''"> and recycling_department = #{recyclingDepartment}</if>
            <if test="isDestroyed != null  and isDestroyed != ''"> and is_destroyed = #{isDestroyed}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="relatedId != null"> and related_id = #{relatedId}</if>
        </where>
    </select>

    <select id="selectSecurityObsoleteControlledDocumentDisposalRegisterById" parameterType="Long" resultMap="SecurityObsoleteControlledDocumentDisposalRegisterResult">
        <include refid="selectSecurityObsoleteControlledDocumentDisposalRegisterVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityObsoleteControlledDocumentDisposalRegister" parameterType="SecurityObsoleteControlledDocumentDisposalRegister" useGeneratedKeys="true" keyProperty="id">
        insert into security_obsolete_controlled_document_disposal_register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name,</if>
            <if test="documentNumber != null">document_number,</if>
            <if test="recyclingDepartment != null">recycling_department,</if>
            <if test="isDestroyed != null">is_destroyed,</if>
            <if test="remarks != null">remarks,</if>
            <if test="relatedId != null">related_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">#{fileName},</if>
            <if test="documentNumber != null">#{documentNumber},</if>
            <if test="recyclingDepartment != null">#{recyclingDepartment},</if>
            <if test="isDestroyed != null">#{isDestroyed},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="relatedId != null">#{relatedId},</if>
        </trim>
    </insert>

    <insert id="batchInsert" parameterType="list">
        insert into security_obsolete_controlled_document_disposal_register(file_name, document_number, recycling_department, is_destroyed, remarks, related_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.fileName}, #{item.documentNumber}, #{item.recyclingDepartment}, #{item.isDestroyed}, #{item.remarks}, #{item.relatedId})
        </foreach>
    </insert>


    <update id="updateSecurityObsoleteControlledDocumentDisposalRegister" parameterType="SecurityObsoleteControlledDocumentDisposalRegister">
        update security_obsolete_controlled_document_disposal_register
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileName != null and fileName != ''">file_name = #{fileName},</if>
            <if test="documentNumber != null">document_number = #{documentNumber},</if>
            <if test="recyclingDepartment != null">recycling_department = #{recyclingDepartment},</if>
            <if test="isDestroyed != null">is_destroyed = #{isDestroyed},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="relatedId != null">related_id = #{relatedId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityObsoleteControlledDocumentDisposalRegisterById" parameterType="Long">
        delete from security_obsolete_controlled_document_disposal_register where id = #{id}
    </delete>

    <delete id="deleteSecurityObsoleteControlledDocumentDisposalRegisterByIds" parameterType="String">
        delete from security_obsolete_controlled_document_disposal_register where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 查询最近导入的记录 -->
    <select id="selectLatestImportedRecords" resultMap="SecurityObsoleteControlledDocumentDisposalRegisterResult">
        <include refid="selectSecurityObsoleteControlledDocumentDisposalRegisterVo"/>
        where related_id is null
        order by id desc
        limit 1000
    </select>

    <!-- 更新最近导入数据的关联ID -->
    <update id="updateLatestImportedRelatedId" parameterType="Long">
        update security_obsolete_controlled_document_disposal_register
        set related_id = #{relatedId}
        where related_id is null
        order by id desc
        limit 1000
    </update>
</mapper>