<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityEnvironmentalOrganizationDescriptionMapper">

    <resultMap type="SecurityEnvironmentalOrganizationDescription" id="SecurityEnvironmentalOrganizationDescriptionResult">
        <result property="id"    column="id"    />
        <result property="environment"    column="environment"    />
        <result property="features"    column="features"    />
        <result property="description"    column="description"    />
    </resultMap>

    <sql id="selectSecurityEnvironmentalOrganizationDescriptionVo">
        select id, environment, features, description from Security_environmental_organization_description
    </sql>

    <select id="selectSecurityEnvironmentalOrganizationDescriptionList" parameterType="SecurityEnvironmentalOrganizationDescription" resultMap="SecurityEnvironmentalOrganizationDescriptionResult">
        <include refid="selectSecurityEnvironmentalOrganizationDescriptionVo"/>
        <where>
            <if test="environment != null  and environment != ''"> and environment like concat('%', #{environment}, '%')</if>
            <if test="features != null  and features != ''"> and features like concat('%', #{features}, '%')</if>
        </where>
    </select>

    <select id="selectSecurityEnvironmentalOrganizationDescriptionById" parameterType="Long" resultMap="SecurityEnvironmentalOrganizationDescriptionResult">
        <include refid="selectSecurityEnvironmentalOrganizationDescriptionVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityEnvironmentalOrganizationDescription" parameterType="SecurityEnvironmentalOrganizationDescription">
        insert into Security_environmental_organization_description
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="environment != null">environment,</if>
            <if test="features != null">features,</if>
            <if test="description != null">description,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="environment != null">#{environment},</if>
            <if test="features != null">#{features},</if>
            <if test="description != null">#{description},</if>
        </trim>
    </insert>

    <update id="updateSecurityEnvironmentalOrganizationDescription" parameterType="SecurityEnvironmentalOrganizationDescription">
        update Security_environmental_organization_description
        <trim prefix="SET" suffixOverrides=",">
            <if test="environment != null">environment = #{environment},</if>
            <if test="features != null">features = #{features},</if>
            <if test="description != null">description = #{description},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityEnvironmentalOrganizationDescriptionById" parameterType="Long">
        delete from Security_environmental_organization_description where id = #{id}
    </delete>

    <delete id="deleteSecurityEnvironmentalOrganizationDescriptionByIds" parameterType="String">
        delete from Security_environmental_organization_description where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>