<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityHazardSourceListMapper">
    
    <resultMap type="SecurityHazardSourceList" id="SecurityHazardSourceListResult">
        <result property="id"    column="id"    />
        <result property="activity"    column="activity"    />
        <result property="part"    column="part"    />
        <result property="hazardSource"    column="hazard_source"    />
        <result property="hazardMode"    column="hazard_mode"    />
        <result property="possibleConsequences"    column="possible_consequences"    />
        <result property="evaluationMethod"    column="evaluation_method"    />
        <result property="evaluationA"    column="evaluation_a"    />
        <result property="evaluationB"    column="evaluation_b"    />
        <result property="evaluationC"    column="evaluation_c"    />
        <result property="evaluationSanjiaoxing"    column="evaluation_sanjiaoxing"    />
        <result property="riskLevel"    column="risk_level"    />
        <result property="controlMeasures"    column="control_measures"    />
        <result property="auditor"    column="auditor"    />
        <result property="approver"    column="approver"    />
        <result property="time"    column="time"    />
        <result property="relatedId"    column="related_id"    />
    </resultMap>

    <sql id="selectSecurityHazardSourceListVo">
        select id, activity, part, hazard_source, hazard_mode, possible_consequences, evaluation_method, evaluation_a, evaluation_b, evaluation_c, evaluation_sanjiaoxing, risk_level, control_measures, auditor, approver, time, related_id from security_hazard_source_list
    </sql>

    <select id="selectSecurityHazardSourceListList" parameterType="SecurityHazardSourceList" resultMap="SecurityHazardSourceListResult">
        <include refid="selectSecurityHazardSourceListVo"/>
        <where>  
            <if test="activity != null  and activity != ''"> and activity = #{activity}</if>
            <if test="part != null  and part != ''"> and part = #{part}</if>
            <if test="hazardSource != null  and hazardSource != ''"> and hazard_source = #{hazardSource}</if>
            <if test="hazardMode != null  and hazardMode != ''"> and hazard_mode = #{hazardMode}</if>
            <if test="possibleConsequences != null  and possibleConsequences != ''"> and possible_consequences = #{possibleConsequences}</if>
            <if test="evaluationMethod != null  and evaluationMethod != ''"> and evaluation_method = #{evaluationMethod}</if>
            <if test="evaluationA != null  and evaluationA != ''"> and evaluation_a = #{evaluationA}</if>
            <if test="evaluationB != null  and evaluationB != ''"> and evaluation_b = #{evaluationB}</if>
            <if test="evaluationC != null  and evaluationC != ''"> and evaluation_c = #{evaluationC}</if>
            <if test="evaluationSanjiaoxing != null  and evaluationSanjiaoxing != ''"> and evaluation_sanjiaoxing = #{evaluationSanjiaoxing}</if>
            <if test="riskLevel != null  and riskLevel != ''"> and risk_level = #{riskLevel}</if>
            <if test="controlMeasures != null  and controlMeasures != ''"> and control_measures = #{controlMeasures}</if>
            <if test="auditor != null  and auditor != ''"> and auditor = #{auditor}</if>
            <if test="approver != null  and approver != ''"> and approver = #{approver}</if>
            <if test="time != null "> and time = #{time}</if>
            <if test="relatedId != null "> and related_id = #{relatedId}</if>
        </where>
    </select>
    
    <select id="selectSecurityHazardSourceListById" parameterType="Long" resultMap="SecurityHazardSourceListResult">
        <include refid="selectSecurityHazardSourceListVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityHazardSourceList" parameterType="SecurityHazardSourceList" useGeneratedKeys="true" keyProperty="id">
        insert into security_hazard_source_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activity != null and activity != ''">activity,</if>
            <if test="part != null and part != ''">part,</if>
            <if test="hazardSource != null and hazardSource != ''">hazard_source,</if>
            <if test="hazardMode != null">hazard_mode,</if>
            <if test="possibleConsequences != null">possible_consequences,</if>
            <if test="evaluationMethod != null">evaluation_method,</if>
            <if test="evaluationA != null">evaluation_a,</if>
            <if test="evaluationB != null">evaluation_b,</if>
            <if test="evaluationC != null">evaluation_c,</if>
            <if test="evaluationSanjiaoxing != null">evaluation_sanjiaoxing,</if>
            <if test="riskLevel != null">risk_level,</if>
            <if test="controlMeasures != null">control_measures,</if>
            <if test="auditor != null">auditor,</if>
            <if test="approver != null">approver,</if>
            <if test="time != null">time,</if>
            <if test="relatedId != null">related_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activity != null and activity != ''">#{activity},</if>
            <if test="part != null and part != ''">#{part},</if>
            <if test="hazardSource != null and hazardSource != ''">#{hazardSource},</if>
            <if test="hazardMode != null">#{hazardMode},</if>
            <if test="possibleConsequences != null">#{possibleConsequences},</if>
            <if test="evaluationMethod != null">#{evaluationMethod},</if>
            <if test="evaluationA != null">#{evaluationA},</if>
            <if test="evaluationB != null">#{evaluationB},</if>
            <if test="evaluationC != null">#{evaluationC},</if>
            <if test="evaluationSanjiaoxing != null">#{evaluationSanjiaoxing},</if>
            <if test="riskLevel != null">#{riskLevel},</if>
            <if test="controlMeasures != null">#{controlMeasures},</if>
            <if test="auditor != null">#{auditor},</if>
            <if test="approver != null">#{approver},</if>
            <if test="time != null">#{time},</if>
            <if test="relatedId != null">#{relatedId},</if>
         </trim>
    </insert>

    <update id="updateSecurityHazardSourceList" parameterType="SecurityHazardSourceList">
        update security_hazard_source_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="activity != null and activity != ''">activity = #{activity},</if>
            <if test="part != null and part != ''">part = #{part},</if>
            <if test="hazardSource != null and hazardSource != ''">hazard_source = #{hazardSource},</if>
            <if test="hazardMode != null">hazard_mode = #{hazardMode},</if>
            <if test="possibleConsequences != null">possible_consequences = #{possibleConsequences},</if>
            <if test="evaluationMethod != null">evaluation_method = #{evaluationMethod},</if>
            <if test="evaluationA != null">evaluation_a = #{evaluationA},</if>
            <if test="evaluationB != null">evaluation_b = #{evaluationB},</if>
            <if test="evaluationC != null">evaluation_c = #{evaluationC},</if>
            <if test="evaluationSanjiaoxing != null">evaluation_sanjiaoxing = #{evaluationSanjiaoxing},</if>
            <if test="riskLevel != null">risk_level = #{riskLevel},</if>
            <if test="controlMeasures != null">control_measures = #{controlMeasures},</if>
            <if test="auditor != null">auditor = #{auditor},</if>
            <if test="approver != null">approver = #{approver},</if>
            <if test="time != null">time = #{time},</if>
            <if test="relatedId != null">related_id = #{relatedId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityHazardSourceListById" parameterType="Long">
        delete from security_hazard_source_list where id = #{id}
    </delete>

    <delete id="deleteSecurityHazardSourceListByIds" parameterType="String">
        delete from security_hazard_source_list where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <!-- 批量插入危险源清单数据 -->
    <insert id="batchInsertRiskList" parameterType="java.util.List">
        insert into security_hazard_source_list (
          activity, part, hazard_source, hazard_mode, possible_consequences, 
          evaluation_method, evaluation_a, evaluation_b, evaluation_c, 
          evaluation_sanjiaoxing, risk_level, control_measures, 
          auditor, approver, time, related_id
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
          (#{item.activity}, #{item.part}, #{item.hazardSource}, #{item.hazardMode}, #{item.possibleConsequences}, 
           #{item.evaluationMethod}, #{item.evaluationA}, #{item.evaluationB}, #{item.evaluationC}, 
           #{item.evaluationSanjiaoxing}, #{item.riskLevel}, #{item.controlMeasures}, 
           #{item.auditor}, #{item.approver}, #{item.time}, #{item.relatedId})
        </foreach>
    </insert>
    
    <!-- 更新最近导入数据的关联ID -->
    <update id="updateLatestImportedRelatedId" parameterType="Long">
        update security_hazard_source_list 
        set related_id = #{relatedId}
        where related_id is null
    </update>
</mapper>