<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityMeetingRecordMapper">
    
    <resultMap type="SecurityMeetingRecord" id="SecurityMeetingRecordResult">
        <result property="id"    column="id"    />
        <result property="uploadDate"    column="upload_date"    />
        <result property="uploadBy"    column="upload_by"    />
        <result property="uploadDept"    column="upload_dept"    />
        <result property="files"    column="files"    />
        <result property="comment"    column="comment"    />
    </resultMap>

    <sql id="selectSecurityMeetingRecordVo">
        select id, upload_date, upload_by, upload_dept, files, comment from security_meeting_record
    </sql>

    <select id="selectSecurityMeetingRecordList" parameterType="SecurityMeetingRecord" resultMap="SecurityMeetingRecordResult">
        <include refid="selectSecurityMeetingRecordVo"/>
        <where>  
            <if test="uploadDate != null "> and upload_date = #{uploadDate}</if>
            <if test="uploadBy != null  and uploadBy != ''"> and upload_by = #{uploadBy}</if>
            <if test="uploadDept != null  and uploadDept != ''"> and upload_dept = #{uploadDept}</if>
        </where>
    </select>
    
    <select id="selectSecurityMeetingRecordById" parameterType="String" resultMap="SecurityMeetingRecordResult">
        <include refid="selectSecurityMeetingRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityMeetingRecord" parameterType="SecurityMeetingRecord" useGeneratedKeys="true" keyProperty="id">
        insert into security_meeting_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uploadDate != null">upload_date,</if>
            <if test="uploadBy != null">upload_by,</if>
            <if test="uploadDept != null">upload_dept,</if>
            <if test="files != null">files,</if>
            <if test="comment != null">comment,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uploadDate != null">#{uploadDate},</if>
            <if test="uploadBy != null">#{uploadBy},</if>
            <if test="uploadDept != null">#{uploadDept},</if>
            <if test="files != null">#{files},</if>
            <if test="comment != null">#{comment},</if>
         </trim>
    </insert>

    <update id="updateSecurityMeetingRecord" parameterType="SecurityMeetingRecord">
        update security_meeting_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="uploadDate != null">upload_date = #{uploadDate},</if>
            <if test="uploadBy != null">upload_by = #{uploadBy},</if>
            <if test="uploadDept != null">upload_dept = #{uploadDept},</if>
            <if test="files != null">files = #{files},</if>
            <if test="comment != null">comment = #{comment},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityMeetingRecordById" parameterType="String">
        delete from security_meeting_record where id = #{id}
    </delete>

    <delete id="deleteSecurityMeetingRecordByIds" parameterType="String">
        delete from security_meeting_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>