<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.security.mapper.SecurityRelatedPartyLedgerMapper">
    
    <resultMap type="SecurityRelatedPartyLedger" id="SecurityRelatedPartyLedgerResult">
        <result property="id"    column="id"    />
        <result property="responsibleDepartment"    column="responsible_department"    />
        <result property="relatedPartyName"    column="related_party_name"    />
        <result property="mainContactPerson"    column="main_contact_person"    />
        <result property="ourCompanyContactPerson"    column="our_company_contact_person"    />
        <result property="isSafetyManagementAgreementSigned"    column="is_safety_management_agreement_signed"    />
        <result property="agreementSigningDate"    column="agreement_signing_date"    />
        <result property="factoryEntryStartDate"    column="factory_entry_start_date"    />
        <result property="waiLai"    column="wai_lai"    />
        <result property="shiXi"    column="shi_xi"    />
        <result property="laoWu"    column="lao_wu"    />
        <result property="shiGong"    column="shi_gong"    />
        <result property="qinjieJianceFuwu"    column="qinjie_jiance_fuwu"    />
        <result property="wuLiu"    column="wu_liu"    />
        <result property="zhuCangXiangguanfang"    column="zhu_cang_xiangguanfang"    />
        <result property="other"    column="other"    />
        <result property="relatedId"    column="related_id"    />
        <result property="otherActivity"    column="other__activity"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSecurityRelatedPartyLedgerVo">
        select id, responsible_department, related_party_name, main_contact_person, our_company_contact_person, is_safety_management_agreement_signed, agreement_signing_date, factory_entry_start_date, wai_lai, shi_xi, lao_wu, shi_gong, qinjie_jiance_fuwu, wu_liu, zhu_cang_xiangguanfang, other, other__activity, related_id, remark from security_related_party_ledger
    </sql>

    <select id="selectSecurityRelatedPartyLedgerList" parameterType="SecurityRelatedPartyLedger" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        <where>  
            <if test="responsibleDepartment != null  and responsibleDepartment != ''"> and responsible_department = #{responsibleDepartment}</if>
            <if test="relatedPartyName != null  and relatedPartyName != ''"> and related_party_name like concat('%', #{relatedPartyName}, '%')</if>
            <if test="mainContactPerson != null  and mainContactPerson != ''"> and main_contact_person = #{mainContactPerson}</if>
            <if test="ourCompanyContactPerson != null  and ourCompanyContactPerson != ''"> and our_company_contact_person = #{ourCompanyContactPerson}</if>
            <if test="isSafetyManagementAgreementSigned != null "> and is_safety_management_agreement_signed = #{isSafetyManagementAgreementSigned}</if>
            <if test="agreementSigningDate != null "> and agreement_signing_date = #{agreementSigningDate}</if>
            <if test="factoryEntryStartDate != null "> and factory_entry_start_date = #{factoryEntryStartDate}</if>
            <if test="waiLai != null  and waiLai != ''"> and wai_lai = #{waiLai}</if>
            <if test="shiXi != null  and shiXi != ''"> and shi_xi = #{shiXi}</if>
            <if test="laoWu != null  and laoWu != ''"> and lao_wu = #{laoWu}</if>
            <if test="shiGong != null  and shiGong != ''"> and shi_gong = #{shiGong}</if>
            <if test="qinjieJianceFuwu != null  and qinjieJianceFuwu != ''"> and qinjie_jiance_fuwu = #{qinjieJianceFuwu}</if>
            <if test="wuLiu != null  and wuLiu != ''"> and wu_liu = #{wuLiu}</if>
            <if test="zhuCangXiangguanfang != null  and zhuCangXiangguanfang != ''"> and zhu_cang_xiangguanfang = #{zhuCangXiangguanfang}</if>
            <if test="other != null  and other != ''"> and other = #{other}</if>
            <if test="relatedId != null "> and related_id = #{relatedId}</if>
        </where>
    </select>
    
    <select id="selectSecurityRelatedPartyLedgerById" parameterType="Long" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        where id = #{id}
    </select>

    <insert id="insertSecurityRelatedPartyLedger" parameterType="SecurityRelatedPartyLedger" useGeneratedKeys="true" keyProperty="id">
        insert into security_related_party_ledger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">responsible_department,</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">related_party_name,</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">main_contact_person,</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">our_company_contact_person,</if>
            <if test="isSafetyManagementAgreementSigned != null">is_safety_management_agreement_signed,</if>
            <if test="agreementSigningDate != null">agreement_signing_date,</if>
            <if test="factoryEntryStartDate != null">factory_entry_start_date,</if>
            <if test="waiLai != null">wai_lai,</if>
            <if test="shiXi != null">shi_xi,</if>
            <if test="laoWu != null">lao_wu,</if>
            <if test="shiGong != null">shi_gong,</if>
            <if test="qinjieJianceFuwu != null">qinjie_jiance_fuwu,</if>
            <if test="wuLiu != null">wu_liu,</if>
            <if test="zhuCangXiangguanfang != null">zhu_cang_xiangguanfang,</if>
            <if test="other != null">other,</if>
            <if test="relatedId != null">related_id,</if>
            <if test="otherActivity != null">other__activity,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">#{responsibleDepartment},</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">#{relatedPartyName},</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">#{mainContactPerson},</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">#{ourCompanyContactPerson},</if>
            <if test="isSafetyManagementAgreementSigned != null">#{isSafetyManagementAgreementSigned},</if>
            <if test="agreementSigningDate != null">#{agreementSigningDate},</if>
            <if test="factoryEntryStartDate != null">#{factoryEntryStartDate},</if>
            <if test="waiLai != null">#{waiLai},</if>
            <if test="shiXi != null">#{shiXi},</if>
            <if test="laoWu != null">#{laoWu},</if>
            <if test="shiGong != null">#{shiGong},</if>
            <if test="qinjieJianceFuwu != null">#{qinjieJianceFuwu},</if>
            <if test="wuLiu != null">#{wuLiu},</if>
            <if test="zhuCangXiangguanfang != null">#{zhuCangXiangguanfang},</if>
            <if test="other != null">#{other},</if>
            <if test="relatedId != null">#{relatedId},</if>
            <if test="otherActivity != null">#{otherActivity},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSecurityRelatedPartyLedger" parameterType="SecurityRelatedPartyLedger">
        update security_related_party_ledger
        <trim prefix="SET" suffixOverrides=",">
            <if test="responsibleDepartment != null and responsibleDepartment != ''">responsible_department = #{responsibleDepartment},</if>
            <if test="relatedPartyName != null and relatedPartyName != ''">related_party_name = #{relatedPartyName},</if>
            <if test="mainContactPerson != null and mainContactPerson != ''">main_contact_person = #{mainContactPerson},</if>
            <if test="ourCompanyContactPerson != null and ourCompanyContactPerson != ''">our_company_contact_person = #{ourCompanyContactPerson},</if>
            <if test="isSafetyManagementAgreementSigned != null">is_safety_management_agreement_signed = #{isSafetyManagementAgreementSigned},</if>
            <if test="agreementSigningDate != null">agreement_signing_date = #{agreementSigningDate},</if>
            <if test="factoryEntryStartDate != null">factory_entry_start_date = #{factoryEntryStartDate},</if>
            <if test="waiLai != null">wai_lai = #{waiLai},</if>
            <if test="shiXi != null">shi_xi = #{shiXi},</if>
            <if test="laoWu != null">lao_wu = #{laoWu},</if>
            <if test="shiGong != null">shi_gong = #{shiGong},</if>
            <if test="qinjieJianceFuwu != null">qinjie_jiance_fuwu = #{qinjieJianceFuwu},</if>
            <if test="wuLiu != null">wu_liu = #{wuLiu},</if>
            <if test="zhuCangXiangguanfang != null">zhu_cang_xiangguanfang = #{zhuCangXiangguanfang},</if>
            <if test="other != null">other = #{other},</if>
            <if test="relatedId != null">related_id = #{relatedId},</if>
            <if test="otherActivity != null">other__activity = #{otherActivity},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSecurityRelatedPartyLedgerById" parameterType="Long">
        delete from security_related_party_ledger where id = #{id}
    </delete>

    <delete id="deleteSecurityRelatedPartyLedgerByIds" parameterType="String">
        delete from security_related_party_ledger where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectSecurityRelatedPartyLedgerByName" parameterType="String" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        where related_party_name = #{relatedPartyName} limit 1
    </select>

    <select id="selectSecurityRelatedPartyLedgerByRelatedId" parameterType="Long" resultMap="SecurityRelatedPartyLedgerResult">
        <include refid="selectSecurityRelatedPartyLedgerVo"/>
        where related_id = #{relatedId}
    </select>

    <update id="updateLatestImportedRelatedId" parameterType="Long">
        UPDATE security_related_party_ledger
        SET related_id = #{relatedId}
        WHERE related_id IS NULL
    </update>
</mapper>